<div class="span6">

<!-- Form Name -->
<div class="row">
  <div class="span6">
    <form name="setupForm" class="form-horizontal">
      <legend>Mandrill Setup</legend>
      <div class="control-group">
        <label class="control-label">Mandrill API key</label>
        <div class="controls">
          <input id="api-key" name="api-key" type="text" placeholder="Name" class="input-xlarge" ng-model="setup.apiKey" ng-required="true">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Where do we send this?</label>
        <div class="controls">
          <input id="toEmail" name="toEmail" type="email"
          placeholder="yourEmailPlease@example.com" class="input-xlarge" ng-model="setup.toEmail">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button id="check-setup" ng-click="checkSetup()" name="check" class="btn btn-primary">Check Setup</button>
        </div>
      </div>
      <div ng-class="apiStatusClass">
        {{apiStatusContent}}
      </div>
    </form>

  </div>
</div>
<div class="row">
  <div class="span6">

<form name="senderForm" class="form-horizontal">
<fieldset>
<legend>User-facing form</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <input id="name" name="name" type="text" placeholder="Name" class="input-xlarge" ng-model="sender.name">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <input id="email" name="email" type="email" placeholder="user@example.com" class="input-xlarge" ng-model="sender.email">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Phone Number</label>
  <div class="controls">
    <input id="phone" name="phone" type="text" placeholder="555-555-5555" class="input-xlarge" ng-model="sender.phone">
    
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label">How Awesome are you?</label>
  <div class="controls">
    <select id="how-awesome" name="how-awesome" class="input-xlarge" ng-model="sender.awesome">
      <option>No Opinion</option>
      <option>I kind of suck</option>
      <option>I think I'm okay</option>
      <option>I'm pretty cool</option>
      <option>I'm the shit</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label">Do you like these people?</label>
  <div class="controls" ng-repeat="person in sender.people">
    <label class="checkbox">
      <input type="checkbox" name="like" value="{{person.name}}" ng-model="person.like">
        {{person.name}}
      </input>
    </label>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label">Anything else you want to say?</label>
  <div class="controls">                     
    <textarea id="some-text" rows="3" ng-model="sender.randomtext" placeholder="Like, where does cheese even come from?"></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button id="send" ng-click="send()" name="send" class="btn btn-primary">Send it!</button>
  </div>
</div>
<div ng-class="messageStatusClass">
  {{messageStatusContent}}
  <pre>{{messageStatusJson | json}}</pre>
</div>
</div>
</div>

</fieldset>
</form>
<div class="row">
  <div class="span6">
    <legend>Message Text:</legend>
    <div class="well" ng-bind-html-unsafe="messageText"></div>
  </div>
</div>
