---
title: email form with angular and mandrill!
---


<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Mandrill + Angular</h1>
      <p><%=lorem.paragraph%></p>
    </div>
    <div class="span6">
      <div ng-view>
        <div class="span-6">
          <div class="alert">
            Looks like either javascript isn't turned on or the script isn't working for some reason.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
