---
title: email form with angular and mandrill!
---


<div class="container">
  <div class="row">
    <div ng-view>
      <div class="span-12">
        <div class="alert">
          Looks like javascript isn't turned on. Better do that brah!
        </div>
      </div>
    </div>
  </div>
</div>
